.list-view {
    -fx-background-color: #e6b3d2; /* Replace with your color */
}

.list-cell {
    -fx-font-size: 20px;
    -fx-background-color: #e6b3d2;
}
.list-cell:filled:selected {
    -fx-background-color: #b74767; /* Optional: Color for selected item */
    -fx-text-fill: #000000; /* Optional: Text color for selected item */
}
.titled-pane .title {
    -fx-background-color:#ff7aa1; /* Example color for the title region */
}

.titled-pane > .content {
    -fx-background-color: #FFB6C1 /* Example color for the content region */
}
.patient-message {
    -fx-background-color: linear-gradient(to bottom, #f588ab, #ffdddc);
}
.menu-item-style {
    -fx-font-size: 20px; /* Adjust the size as needed */
    -fx-background-color: white;
}
.menu-item-style:hover {
    -fx-background-color: #ff1d6c; /* Pink color on hover */
}
